<div class="login-container" xmlns="http://www.w3.org/1999/html">
  <div class="logo">Fresh Potatoes</div>
  <div class="desc">
    You've heard of rotten tomatoes, well get ready for Fresh Potatoes! The new and improved movie rating application today.
  </div>
</div>
<div class="login-form">
  <div class="form-group"></div>
  <label for="uname">Username</label>
  <input type="text" name="uname" class="form-control" [(ngModel)]="username">
  <div class="form-group"></div>
  <label for="pword">Password</label>
  <input type="password" name="pword" class="form-control" [(ngModel)]="password">
</div>
<div class="btn-container">
  <div class="error">{{errorMsg}}</div>
  <button class="btn btn-dark" (click)="login()">Login</button>
</div>
